@inherits LayoutComponentBase
@using AntDesign
@using _Imports = AntDesign.core._Imports

<Layout Class="layout">
    <Header>
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal">
            <MenuItem Key="1" RouterLink="/">Home</MenuItem>
            <MenuItem Key="2" RouterLink="/Notes">Notes</MenuItem>
            <MenuItem Key="3" RouterLink="/weather">Weather</MenuItem>
            <MenuItem Key="4" RouterLink="/counter">Counter</MenuItem>
        </Menu>
    </Header>
    <Content Style="padding: 0 50px;">
        <div class="site-layout-content">@Body</div>
    </Content>
    <Footer Style="text-align: center; ">The test 2024</Footer>
</Layout>

<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }
    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>